@import "src/styles/scrollbar-blue";
@import "../../../styles/initConf";

$main-gradient-start: #FF7F50;
$main-gradient-middle: #66b2b2;
$main-gradient-end: #004d4d;

.main-background {
  background: linear-gradient(135deg, $main-gradient-start 10%, $main-gradient-middle 50%, $main-gradient-end 90%);
  background-size: cover;
  min-height: 100vh;
  position: relative;
}
