@import "~bootstrap/scss/bootstrap";
@import "../../../styles/scrollbar";

body {
  margin: 0 auto;
  overflow-x: hidden;
}

.login-background {
  background-image: url("../../../resources/img/login-background.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;

  .container.login-container {
    position: absolute;
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%);

    .duck-logo {
      position: absolute;
      width: 60px;
      height: 60px;
      top: 7%;
      left: 55%;
      transform: translate(-50%, -50%);
    }

    .row {
      margin-right: auto;
    }

    .login-box {
      position: relative;
      width: 400px;
      margin: 0 auto;

      .sign-in-header {
        font-family: 'FancyFont', cursive;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        padding: 20px;
        font-size: 30px;
      }

      h2 {
        margin-bottom: 70px;
        font-size: 24px;
        color: #333;
      }

      form {
        display: flex;
        flex-direction: column;

        .form-group {
          margin-bottom: 15px;
          width: 100%;

          input.form-control {
            width: 80%;
            left: 50%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 10px;
          }
        }

        button.btn {
          width: 80%;
          padding: 10px;
          margin-bottom: 10px;
          border-radius: 3px;
          cursor: pointer;
          transition: background-color 0.3s;
        }

        button.btn-primary {
          background-color: #20B2AA;
          color: #fff;
          border: none;
          border-radius: 10px;

          &:hover {
            background-color: #ADD8E6;
          }
        }

        button.btn-secondary {
          display: block;
          border-radius: 10px;
          color: #fff;
          border: 1px solid #fff;

          &:hover {
            background-color: #f2f2f2;
          }
        }
      }
    }
  }
}
