@import "~bootstrap/scss/bootstrap";

.header-gradient {
  background: linear-gradient(to right, #9de8e8, #067777);

  .navbar {
    padding: 0.5rem 1rem;
  }

  .delivery-point {
    margin-left: 1rem;
    font-weight: bold;
  }

  .secondary-nav {
    display: none;
  }

  .navbar-brand {
    margin-right: 2rem;
  }

  .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
  }

  .mobile-secondary-nav .nav-link {

    &,
    &:active,
    &:focus {
      background-color: transparent;
      color: #fff;
      box-shadow: none;
      border: 1px solid transparent;
      margin-right: 1rem;
    }

    &:hover {
      color: #cceeff;
      border-radius: 5px;
      border-color: #cceeff;
      text-decoration: none;
    }

    &.active {
      color: #eee;
      text-decoration: none;
      border: 1px solid #eee;
      border-radius: 5px;
    }
  }

  .search-bar {
    background-color: #fff;
    border: none;
    border-radius: 20px 0 0 20px;
  }

  .search-button {
    background-color: #ffa500;
    border: none;
    border-radius: 0 20px 20px 0;
  }

  .form-inline, .d-flex {
    margin-right: 1rem;

    .form-control {
      margin-right: .5rem;
      width: 80%;
    }
  }

  .btn-outline-light {
    margin-right: .5rem;
    margin-left: 0.5rem;
  }

  #dropdown-profile {
    .btn-success {
      background-color: transparent;
      border: none;
      &:after {
        display: none;
      }
      &:hover, &:focus {
        background-color: transparent;
        box-shadow: none;
      }
    }
  }

  .cart-button {
    height: 50px;
    width: 60px;
    background-image: url("../../resources/img/cart-icon.png");
    background-size: 40px 40px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .profile-picture, .cart-button {
    background-color: transparent;
    border: 1px solid transparent;

    &:hover, &:active {
      border-color: #fff;
      background-color: transparent;
    }
  }

  .dropdown-menu {
    right: 0;
  }

  .signup-button {
    border: none;
    color: white;
    width: 80px;
    height: 36px;
  }

  .login-button {
    border: none;
    color: black;
    width: 80px;
    height: 36px;
  }
}
